* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

#searchInput{
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    border: .5px solid #d1d1d1;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}